In [1]:
import pandas as pd
import faker
import numpy as np
import re
import random

In [50]:
assess=pd.read_csv('Assessments.csv')
reviews=pd.read_csv('Reviews.csv')

In [52]:
text_reviews=pd.read_csv('../reviews.csv',index_col=0)
text_review=text_reviews[['Review','Label']].values.tolist()

In [3]:
assess

,AssessmentId,CRN,Name,Type,Total Time,Max Score,No of Questions,Technologies
0,0,AAS100,HW 1,HW,7 days,100,4.0,NaN
1,1,AAS100,HW 2,HW,12 days,100,4.0,NaN
2,2,AAS100,HW 3,HW,7 days,100,4.0,NaN
3,3,AAS100,HW 4,HW,12 days,100,6.0,NaN
4,4,AAS100,Exam 1,Exam,2 hour,100,3.0,NaN
...,...,...,...,...,...,...,...,...
52190,52190,ZULU406,HW 3,HW,7 days,100,4.0,NaN
52191,52191,ZULU406,HW 4,HW,11 days,100,4.0,NaN
52192,52192,ZULU406,HW 5,HW,14 days,100,7.0,NaN
52193,52193,ZULU406,Exam 1,Exam,1 hour,100,6.0,NaN
52194,52194,ZULU406,Exam 2,Exam,2 hour,100,3.0,NaN

In [5]:
reviews

,ReviewId,NetId,CRN,WorkLoad,Difficulty,Rating,TextReview,Date,Term
0,0,JeromeBl17,AAS100,4,3,4,"I liked your course. It is very thorough, but ...",26 November 2010,Fall-2010
1,1,BrianRu64,AAS100,4,2,5,Brilliant work you got there.....................,15 September 2010,Fall-2010
2,2,ErinMa15,AAS100,2,4,5,A lot of concepts helpful for learning,09 January 2011,Fall-2010
3,3,VictoriaJe48,AAS100,3,3,5,It's enough for the beginner. A good guide,22 September 2010,Fall-2010
4,4,TylerPr19,AAS100,3,2,5,"In debth enough to go through concepts slowly,...",07 November 2010,Fall-2010
...,...,...,...,...,...,...,...,...,...
230766,230766,JenniferEa24,YDSH320,3,5,4,"Nice, interesting course. I went through it wi...",20 September 2020,Fall-2020
230767,230767,NancyCl54,YDSH320,3,2,4,This is a good and effective course for managi...,12 September 2020,Fall-2020
230768,230768,MeganMc67,YDSH320,2,4,5,of Great help,01 September 2020,Fall-2020
230769,230769,SarahTr46,YDSH320,3,2,5,The teacher makes the classes simple to unders...,24 September 2020,Fall-2020
230770,230770,MakaylaRa50,YDSH320,4,1,5,Amazing learning experience,12 January 2021,Fall-2020

In [21]:
cs_reviews=reviews[reviews['CRN'].str.contains(r'^CS')==True]

In [22]:
cs_reviews

,ReviewId,NetId,CRN,WorkLoad,Difficulty,Rating,TextReview,Date,Term
74537,74537,AlexPr30,CS100,5,3,5,Very usefull things shared.,20 November 2010,Fall-2010
74538,74538,ElizabethPa90,CS100,3,3,5,"I loved this course so much, it helps me a lot...",17 November 2010,Fall-2010
74539,74539,AnthonyMe17,CS100,3,2,5,"I like it so much , thanks",24 January 2011,Fall-2010
74540,74540,CaseyRa23,CS100,5,4,5,Awesome Course for Beginners in Statistics as ...,11 November 2010,Fall-2010
74541,74541,RobertCa85,CS100,3,3,4,quite tough for someone without R-programming ...,01 October 2010,Fall-2010
...,...,...,...,...,...,...,...,...,...
82106,82106,MatthewSt69,CS598,3,5,5,Good basics in order to then learn by yourself...,27 June 2021,Summer-2021
82107,82107,HenryCr37,CS598,3,5,1,I'm not a conversational learner. I like to le...,25 June 2021,Summer-2021
82108,82108,ReginaldHe66,CS598,3,2,5,Contents are very well explained,05 July 2021,Summer-2021
82109,82109,NicoleAn95,CS598,3,2,5,An excellent introduction to SEO.,07 July 2021,Summer-2021
82110,82110,JonathanCh33,CS598,2,2,5,I am so grateful for this course and also than...,21 May 2021,Summer-2021

In [23]:
cs_assess=assess[assess['CRN'].str.contains(r'^CS')==True]

In [24]:
cs_assess

,AssessmentId,CRN,Name,Type,Total Time,Max Score,No of Questions,Technologies
14006,14006,CS100,MP 1,MP,11 days,100,6.0,SQL
14007,14007,CS100,MP 2,MP,7 days,100,6.0,JavaScript
14008,14008,CS100,MP 3,MP,12 days,100,3.0,JavaScript
14009,14009,CS100,Exam 1,Exam,1 hour,100,4.0,JavaScript
14010,14010,CS100,Exam 2,Exam,3 hour,100,6.0,SQL
...,...,...,...,...,...,...,...,...
15319,15319,CSE576,HW 1,HW,11 days,100,7.0,NaN
15320,15320,CSE576,HW 2,HW,8 days,100,4.0,NaN
15321,15321,CSE576,HW 3,HW,10 days,100,7.0,NaN
15322,15322,CSE576,Exam 1,Exam,3 hour,100,6.0,NaN
15323,15323,CSE576,Project 1,Project,Semester Long,100,NaN,NaN

In [28]:
crn_cs=cs_reviews[['ReviewId','CRN']]

In [29]:
crn_cs

       ReviewId    CRN
74537     74537  CS100
74538     74538  CS100
74539     74539  CS100
74540     74540  CS100
74541     74541  CS100
...         ...    ...
82106     82106  CS598
82107     82107  CS598
82108     82108  CS598
82109     82109  CS598
82110     82110  CS598

[7574 rows x 2 columns]

In [30]:
crn_cs_assess=cs_assess[['AssessmentId','CRN']]

In [31]:
crn_cs_assess

       AssessmentId     CRN
14006         14006   CS100
14007         14007   CS100
14008         14008   CS100
14009         14009   CS100
14010         14010   CS100
...             ...     ...
15319         15319  CSE576
15320         15320  CSE576
15321         15321  CSE576
15322         15322  CSE576
15323         15323  CSE576

[1318 rows x 2 columns]

In [38]:
crn_cs=pd.unique(cs_reviews['CRN'].tolist())

In [42]:
crn_cs_assess[crn_cs_assess['CRN']==crn_cs[0]]['AssessmentId'].tolist()

[14006, 14007, 14008, 14009, 14010, 14011, 14012, 14013, 14014, 14015]

In [39]:
crn_cs

array(['CS100', 'CS101', 'CS105', 'CS125', 'CS126', 'CS173', 'CS196',
       'CS199', 'CS210', 'CS225', 'CS233', 'CS240', 'CS241', 'CS242',
       'CS296', 'CS357', 'CS361', 'CS374', 'CS398', 'CS410', 'CS411',
       'CS412', 'CS414', 'CS418', 'CS419', 'CS420', 'CS421', 'CS422',
       'CS423', 'CS424', 'CS425', 'CS426', 'CS427', 'CS428', 'CS429',
       'CS431', 'CS433', 'CS438', 'CS440', 'CS445', 'CS446', 'CS447',
       'CS450', 'CS457', 'CS460', 'CS461', 'CS463', 'CS465', 'CS466',
       'CS467', 'CS473', 'CS477', 'CS484', 'CS492', 'CS493', 'CS494',
       'CS498', 'CS510', 'CS511', 'CS512', 'CS513', 'CS519', 'CS523',
       'CS525', 'CS527', 'CS528', 'CS533', 'CS538', 'CS544', 'CS546',
       'CS548', 'CS554', 'CS555', 'CS556', 'CS563', 'CS565', 'CS573',
       'CS574', 'CS579', 'CS583', 'CS598'], dtype=object)

In [45]:
reviewid_crn=cs_reviews[['ReviewId','CRN']].values.tolist()

In [47]:
reviewid_crn

[[74537, 'CS100'],
 [74538, 'CS100'],
 [74539, 'CS100'],
 [74540, 'CS100'],
 [74541, 'CS100'],
 [74542, 'CS100'],
 [74543, 'CS100'],
 [74544, 'CS100'],
 [74545, 'CS100'],
 [74546, 'CS100'],
 [74547, 'CS100'],
 [74548, 'CS100'],
 [74549, 'CS100'],
 [74550, 'CS100'],
 [74551, 'CS100'],
 [74552, 'CS100'],
 [74553, 'CS100'],
 [74554, 'CS100'],
 [74555, 'CS100'],
 [74556, 'CS100'],
 [74557, 'CS100'],
 [74558, 'CS100'],
 [74559, 'CS100'],
 [74560, 'CS100'],
 [74561, 'CS100'],
 [74562, 'CS100'],
 [74563, 'CS100'],
 [74564, 'CS100'],
 [74565, 'CS100'],
 [74566, 'CS100'],
 [74567, 'CS100'],
 [74568, 'CS100'],
 [74569, 'CS100'],
 [74570, 'CS100'],
 [74571, 'CS100'],
 [74572, 'CS100'],
 [74573, 'CS100'],
 [74574, 'CS100'],
 [74575, 'CS100'],
 [74576, 'CS100'],
 [74577, 'CS100'],
 [74578, 'CS100'],
 [74579, 'CS100'],
 [74580, 'CS100'],
 [74581, 'CS100'],
 [74582, 'CS100'],
 [74583, 'CS100'],
 [74584, 'CS100'],
 [74585, 'CS100'],
 [74586, 'CS100'],
 [74587, 'CS100'],
 [74588, 'CS100'],
 [74589, 'CS100'],
 [74590, 'CS100'],
 [74591, 'CS100'],
 [74592, 'CS100'],
 [74593, 'CS100'],
 [74594, 'CS100'],
 [74595, 'CS100'],
 [74596, 'CS100'],
 [74597, 'CS100'],
 [74598, 'CS100'],
 [74599, 'CS100'],
 [74600, 'CS100'],
 [74601, 'CS100'],
 [74602, 'CS100'],
 [74603, 'CS100'],
 [74604, 'CS100'],
 [74605, 'CS100'],
 [74606, 'CS100'],
 [74607, 'CS100'],
 [74608, 'CS100'],
 [74609, 'CS100'],
 [74610, 'CS100'],
 [74611, 'CS100'],
 [74612, 'CS100'],
 [74613, 'CS100'],
 [74614, 'CS100'],
 [74615, 'CS100'],
 [74616, 'CS100'],
 [74617, 'CS100'],
 [74618, 'CS100'],
 [74619, 'CS100'],
 [74620, 'CS100'],
 [74621, 'CS100'],
 [74622, 'CS100'],
 [74623, 'CS100'],
 [74624, 'CS100'],
 [74625, 'CS100'],
 [74626, 'CS100'],
 [74627, 'CS100'],
 [74628, 'CS100'],
 [74629, 'CS100'],
 [74630, 'CS100'],
 [74631, 'CS100'],
 [74632, 'CS100'],
 [74633, 'CS100'],
 [74634, 'CS100'],
 [74635, 'CS100'],
 [74636, 'CS100'],
 [74637, 'CS100'],
 [74638, 'CS100'],
 [74639, 'CS100'],
 [74640, 'CS101'],
 [74641, 'CS101'],
 [74642, 'CS101'],
 [74643, 'CS101'],
 [74644, 'CS101'],
 [74645, 'CS101'],
 [74646, 'CS101'],
 [74647, 'CS101'],
 [74648, 'CS101'],
 [74649, 'CS101'],
 [74650, 'CS101'],
 [74651, 'CS101'],
 [74652, 'CS101'],
 [74653, 'CS101'],
 [74654, 'CS101'],
 [74655, 'CS101'],
 [74656, 'CS101'],
 [74657, 'CS101'],
 [74658, 'CS101'],
 [74659, 'CS101'],
 [74660, 'CS101'],
 [74661, 'CS101'],
 [74662, 'CS101'],
 [74663, 'CS101'],
 [74664, 'CS101'],
 [74665, 'CS101'],
 [74666, 'CS101'],
 [74667, 'CS101'],
 [74668, 'CS101'],
 [74669, 'CS101'],
 [74670, 'CS101'],
 [74671, 'CS101'],
 [74672, 'CS101'],
 [74673, 'CS101'],
 [74674, 'CS101'],
 [74675, 'CS101'],
 [74676, 'CS101'],
 [74677, 'CS101'],
 [74678, 'CS101'],
 [74679, 'CS101'],
 [74680, 'CS101'],
 [74681, 'CS101'],
 [74682, 'CS101'],
 [74683, 'CS101'],
 [74684, 'CS101'],
 [74685, 'CS101'],
 [74686, 'CS101'],
 [74687, 'CS101'],
 [74688, 'CS101'],
 [74689, 'CS101'],
 [74690, 'CS101'],
 [74691, 'CS101'],
 [74692, 'CS101'],
 [74693, 'CS101'],
 [74694, 'CS101'],
 [74695, 'CS101'],
 [74696, 'CS101'],
 [74697, 'CS101'],
 [74698, 'CS101'],
 [74699, 'CS101'],
 [74700, 'CS101'],
 [74701, 'CS101'],
 [74702, 'CS101'],
 [74703, 'CS101'],
 [74704, 'CS101'],
 [74705, 'CS101'],
 [74706, 'CS101'],
 [74707, 'CS101'],
 [74708, 'CS101'],
 [74709, 'CS101'],
 [74710, 'CS101'],
 [74711, 'CS101'],
 [74712, 'CS101'],
 [74713, 'CS101'],
 [74714, 'CS101'],
 [74715, 'CS101'],
 [74716, 'CS101'],
 [74717, 'CS101'],
 [74718, 'CS101'],
 [74719, 'CS101'],
 [74720, 'CS101'],
 [74721, 'CS101'],
 [74722, 'CS101'],
 [74723, 'CS101'],
 [74724, 'CS101'],
 [74725, 'CS101'],
 [74726, 'CS101'],
 [74727, 'CS101'],
 [74728, 'CS101'],
 [74729, 'CS101'],
 [74730, 'CS101'],
 [74731, 'CS101'],
 [74732, 'CS101'],
 [74733, 'CS101'],
 [74734, 'CS101'],
 [74735, 'CS101'],
 [74736, 'CS101'],
 [74737, 'CS101'],
 [74738, 'CS101'],
 [74739, 'CS101'],
 [74740, 'CS101'],
 [74741, 'CS101'],
 [74742, 'CS101'],
 [74743, 'CS101'],
 [74744, 'CS101'],
 [74745, 'CS101'],
 [74746, 'CS101'],
 [74747, 'CS101'],
 [74748, 'CS101'],
 [74749, 'CS101'],
 [74750, 'CS101'],
 [74751, 'CS101'],
 [74752, 'CS101'],
 [74753, 'CS101'],
 [74754, 'CS101'],
 [74755, 'CS101'],
 [74756, 'CS101'],
 [74757, 'CS101'],
 [74758, 'CS101'],
 [74759, 'CS101'],
 [74760, 'CS101'],
 [74761, 'CS101'],
 [74762, 'CS101'],
 [74763, 'CS101'],
 [74764, 'CS101'],
 [74765, 'CS101'],
 [74766, 'CS101'],
 [74767, 'CS101'],
 [74768, 'CS101'],
 [74769, 'CS101'],
 [74770, 'CS101'],
 [74771, 'CS101'],
 [74772, 'CS101'],
 [74773, 'CS101'],
 [74774, 'CS101'],
 [74775, 'CS101'],
 [74776, 'CS101'],
 [74777, 'CS101'],
 [74778, 'CS101'],
 [74779, 'CS101'],
 [74780, 'CS101'],
 [74781, 'CS101'],
 [74782, 'CS101'],
 [74783, 'CS101'],
 [74784, 'CS101'],
 [74785, 'CS101'],
 [74786, 'CS101'],
 [74787, 'CS101'],
 [74788, 'CS101'],
 [74789, 'CS101'],
 [74790, 'CS101'],
 [74791, 'CS101'],
 [74792, 'CS101'],
 [74793, 'CS101'],
 [74794, 'CS101'],
 [74795, 'CS101'],
 [74796, 'CS101'],
 [74797, 'CS101'],
 [74798, 'CS101'],
 [74799, 'CS101'],
 [74800, 'CS101'],
 [74801, 'CS101'],
 [74802, 'CS101'],
 [74803, 'CS101'],
 [74804, 'CS101'],
 [74805, 'CS101'],
 [74806, 'CS101'],
 [74807, 'CS101'],
 [74808, 'CS101'],
 [74809, 'CS101'],
 [74810, 'CS101'],
 [74811, 'CS101'],
 [74812, 'CS101'],
 [74813, 'CS101'],
 [74814, 'CS101'],
 [74815, 'CS101'],
 [74816, 'CS101'],
 [74817, 'CS101'],
 [74818, 'CS101'],
 [74819, 'CS101'],
 [74820, 'CS101'],
 [74821, 'CS101'],
 [74822, 'CS101'],
 [74823, 'CS101'],
 [74824, 'CS101'],
 [74825, 'CS101'],
 [74826, 'CS101'],
 [74827, 'CS101'],
 [74828, 'CS101'],
 [74829, 'CS101'],
 [74830, 'CS101'],
 [74831, 'CS101'],
 [74832, 'CS101'],
 [74833, 'CS105'],
 [74834, 'CS105'],
 [74835, 'CS105'],
 [74836, 'CS105'],
 [74837, 'CS105'],
 [74838, 'CS105'],
 [74839, 'CS105'],
 [74840, 'CS105'],
 [74841, 'CS105'],
 [74842, 'CS105'],
 [74843, 'CS105'],
 [74844, 'CS105'],
 [74845, 'CS105'],
 [74846, 'CS105'],
 [74847, 'CS105'],
 [74848, 'CS105'],
 [74849, 'CS105'],
 [74850, 'CS105'],
 [74851, 'CS105'],
 [74852, 'CS105'],
 [74853, 'CS105'],
 [74854, 'CS105'],
 [74855, 'CS105'],
 [74856, 'CS105'],
 [74857, 'CS105'],
 [74858, 'CS105'],
 [74859, 'CS105'],
 [74860, 'CS105'],
 [74861, 'CS105'],
 [74862, 'CS105'],
 [74863, 'CS105'],
 [74864, 'CS105'],
 [74865, 'CS105'],
 [74866, 'CS105'],
 [74867, 'CS105'],
 [74868, 'CS105'],
 [74869, 'CS105'],
 [74870, 'CS105'],
 [74871, 'CS105'],
 [74872, 'CS105'],
 [74873, 'CS105'],
 [74874, 'CS105'],
 [74875, 'CS105'],
 [74876, 'CS105'],
 [74877, 'CS105'],
 [74878, 'CS105'],
 [74879, 'CS105'],
 [74880, 'CS105'],
 [74881, 'CS105'],
 [74882, 'CS105'],
 [74883, 'CS105'],
 [74884, 'CS105'],
 [74885, 'CS105'],
 [74886, 'CS105'],
 [74887, 'CS105'],
 [74888, 'CS105'],
 [74889, 'CS105'],
 [74890, 'CS105'],
 [74891, 'CS105'],
 [74892, 'CS105'],
 [74893, 'CS105'],
 [74894, 'CS105'],
 [74895, 'CS105'],
 [74896, 'CS105'],
 [74897, 'CS105'],
 [74898, 'CS105'],
 [74899, 'CS105'],
 [74900, 'CS105'],
 [74901, 'CS105'],
 [74902, 'CS105'],
 [74903, 'CS105'],
 [74904, 'CS105'],
 [74905, 'CS105'],
 [74906, 'CS105'],
 [74907, 'CS105'],
 [74908, 'CS105'],
 [74909, 'CS105'],
 [74910, 'CS105'],
 [74911, 'CS105'],
 [74912, 'CS105'],
 [74913, 'CS105'],
 [74914, 'CS105'],
 [74915, 'CS105'],
 [74916, 'CS105'],
 [74917, 'CS105'],
 [74918, 'CS105'],
 [74919, 'CS105'],
 [74920, 'CS105'],
 [74921, 'CS105'],
 [74922, 'CS105'],
 [74923, 'CS105'],
 [74924, 'CS105'],
 [74925, 'CS105'],
 [74926, 'CS105'],
 [74927, 'CS105'],
 [74928, 'CS105'],
 [74929, 'CS105'],
 [74930, 'CS105'],
 [74931, 'CS105'],
 [74932, 'CS105'],
 [74933, 'CS105'],
 [74934, 'CS105'],
 [74935, 'CS105'],
 [74936, 'CS105'],
 [74937, 'CS105'],
 [74938, 'CS105'],
 [74939, 'CS105'],
 [74940, 'CS105'],
 [74941, 'CS105'],
 [74942, 'CS105'],
 [74943, 'CS105'],
 [74944, 'CS105'],
 [74945, 'CS105'],
 [74946, 'CS105'],
 [74947, 'CS105'],
 [74948, 'CS105'],
 [74949, 'CS105'],
 [74950, 'CS105'],
 [74951, 'CS105'],
 [74952, 'CS105'],
 [74953, 'CS105'],
 [74954, 'CS105'],
 [74955, 'CS105'],
 [74956, 'CS105'],
 [74957, 'CS105'],
 [74958, 'CS105'],
 [74959, 'CS105'],
 [74960, 'CS105'],
 [74961, 'CS105'],
 [74962, 'CS105'],
 [74963, 'CS105'],
 [74964, 'CS105'],
 [74965, 'CS105'],
 [74966, 'CS105'],
 [74967, 'CS105'],
 [74968, 'CS105'],
 [74969, 'CS105'],
 [74970, 'CS105'],
 [74971, 'CS105'],
 [74972, 'CS105'],
 [74973, 'CS105'],
 [74974, 'CS105'],
 [74975, 'CS105'],
 [74976, 'CS105'],
 [74977, 'CS105'],
 [74978, 'CS105'],
 [74979, 'CS105'],
 [74980, 'CS105'],
 [74981, 'CS105'],
 [74982, 'CS105'],
 [74983, 'CS105'],
 [74984, 'CS105'],
 [74985, 'CS105'],
 [74986, 'CS105'],
 [74987, 'CS105'],
 [74988, 'CS105'],
 [74989, 'CS105'],
 [74990, 'CS105'],
 [74991, 'CS105'],
 [74992, 'CS105'],
 [74993, 'CS105'],
 [74994, 'CS105'],
 [74995, 'CS105'],
 [74996, 'CS105'],
 [74997, 'CS105'],
 [74998, 'CS105'],
 [74999, 'CS105'],
 [75000, 'CS105'],
 [75001, 'CS105'],
 [75002, 'CS105'],
 [75003, 'CS105'],
 [75004, 'CS105'],
 [75005, 'CS105'],
 [75006, 'CS105'],
 [75007, 'CS105'],
 [75008, 'CS105'],
 [75009, 'CS105'],
 [75010, 'CS105'],
 [75011, 'CS105'],
 [75012, 'CS105'],
 [75013, 'CS105'],
 [75014, 'CS105'],
 [75015, 'CS105'],
 [75016, 'CS105'],
 [75017, 'CS105'],
 [75018, 'CS105'],
 [75019, 'CS105'],
 [75020, 'CS105'],
 [75021, 'CS105'],
 [75022, 'CS105'],
 [75023, 'CS105'],
 [75024, 'CS105'],
 [75025, 'CS105'],
 [75026, 'CS105'],
 [75027, 'CS105'],
 [75028, 'CS105'],
 [75029, 'CS105'],
 [75030, 'CS105'],
 [75031, 'CS105'],
 [75032, 'CS105'],
 [75033, 'CS105'],
 [75034, 'CS105'],
 [75035, 'CS105'],
 [75036, 'CS105'],
 [75037, 'CS105'],
 [75038, 'CS105'],
 [75039, 'CS105'],
 [75040, 'CS105'],
 [75041, 'CS105'],
 [75042, 'CS105'],
 [75043, 'CS105'],
 [75044, 'CS105'],
 [75045, 'CS105'],
 [75046, 'CS105'],
 [75047, 'CS105'],
 [75048, 'CS105'],
 [75049, 'CS105'],
 [75050, 'CS105'],
 [75051, 'CS105'],
 [75052, 'CS105'],
 [75053, 'CS105'],
 [75054, 'CS105'],
 [75055, 'CS105'],
 [75056, 'CS125'],
 [75057, 'CS125'],
 [75058, 'CS125'],
 [75059, 'CS125'],
 [75060, 'CS125'],
 [75061, 'CS125'],
 [75062, 'CS125'],
 [75063, 'CS125'],
 [75064, 'CS125'],
 [75065, 'CS125'],
 [75066, 'CS125'],
 [75067, 'CS125'],
 [75068, 'CS125'],
 [75069, 'CS125'],
 [75070, 'CS125'],
 [75071, 'CS125'],
 [75072, 'CS125'],
 [75073, 'CS125'],
 [75074, 'CS125'],
 [75075, 'CS125'],
 [75076, 'CS125'],
 [75077, 'CS125'],
 [75078, 'CS125'],
 [75079, 'CS125'],
 [75080, 'CS125'],
 [75081, 'CS125'],
 [75082, 'CS125'],
 [75083, 'CS125'],
 [75084, 'CS125'],
 [75085, 'CS125'],
 [75086, 'CS125'],
 [75087, 'CS125'],
 [75088, 'CS125'],
 [75089, 'CS125'],
 [75090, 'CS125'],
 [75091, 'CS125'],
 [75092, 'CS125'],
 [75093, 'CS125'],
 [75094, 'CS125'],
 [75095, 'CS125'],
 [75096, 'CS125'],
 [75097, 'CS125'],
 [75098, 'CS125'],
 [75099, 'CS125'],
 [75100, 'CS125'],
 [75101, 'CS125'],
 [75102, 'CS125'],
 [75103, 'CS125'],
 [75104, 'CS125'],
 [75105, 'CS125'],
 [75106, 'CS125'],
 [75107, 'CS125'],
 [75108, 'CS125'],
 [75109, 'CS125'],
 [75110, 'CS125'],
 [75111, 'CS125'],
 [75112, 'CS125'],
 [75113, 'CS125'],
 [75114, 'CS125'],
 [75115, 'CS125'],
 [75116, 'CS125'],
 [75117, 'CS125'],
 [75118, 'CS125'],
 [75119, 'CS125'],
 [75120, 'CS125'],
 [75121, 'CS125'],
 [75122, 'CS125'],
 [75123, 'CS125'],
 [75124, 'CS125'],
 [75125, 'CS125'],
 [75126, 'CS125'],
 [75127, 'CS125'],
 [75128, 'CS125'],
 [75129, 'CS125'],
 [75130, 'CS125'],
 [75131, 'CS125'],
 [75132, 'CS125'],
 [75133, 'CS125'],
 [75134, 'CS125'],
 [75135, 'CS125'],
 [75136, 'CS125'],
 [75137, 'CS125'],
 [75138, 'CS125'],
 [75139, 'CS125'],
 [75140, 'CS125'],
 [75141, 'CS125'],
 [75142, 'CS125'],
 [75143, 'CS125'],
 [75144, 'CS125'],
 [75145, 'CS125'],
 [75146, 'CS125'],
 [75147, 'CS125'],
 [75148, 'CS125'],
 [75149, 'CS125'],
 [75150, 'CS125'],
 [75151, 'CS125'],
 [75152, 'CS125'],
 [75153, 'CS125'],
 [75154, 'CS125'],
 [75155, 'CS125'],
 [75156, 'CS125'],
 [75157, 'CS125'],
 [75158, 'CS125'],
 [75159, 'CS125'],
 [75160, 'CS125'],
 [75161, 'CS125'],
 [75162, 'CS125'],
 [75163, 'CS125'],
 [75164, 'CS125'],
 [75165, 'CS125'],
 [75166, 'CS125'],
 [75167, 'CS125'],
 [75168, 'CS125'],
 [75169, 'CS125'],
 [75170, 'CS125'],
 [75171, 'CS125'],
 [75172, 'CS125'],
 [75173, 'CS125'],
 [75174, 'CS125'],
 [75175, 'CS125'],
 [75176, 'CS125'],
 [75177, 'CS125'],
 [75178, 'CS125'],
 [75179, 'CS125'],
 [75180, 'CS125'],
 [75181, 'CS125'],
 [75182, 'CS125'],
 [75183, 'CS125'],
 [75184, 'CS125'],
 [75185, 'CS125'],
 [75186, 'CS125'],
 [75187, 'CS125'],
 [75188, 'CS125'],
 [75189, 'CS125'],
 [75190, 'CS125'],
 [75191, 'CS125'],
 [75192, 'CS125'],
 [75193, 'CS125'],
 [75194, 'CS125'],
 [75195, 'CS125'],
 [75196, 'CS125'],
 [75197, 'CS125'],
 [75198, 'CS125'],
 [75199, 'CS125'],
 [75200, 'CS125'],
 [75201, 'CS125'],
 [75202, 'CS125'],
 [75203, 'CS125'],
 [75204, 'CS125'],
 [75205, 'CS125'],
 [75206, 'CS125'],
 [75207, 'CS125'],
 [75208, 'CS125'],
 [75209, 'CS125'],
 [75210, 'CS125'],
 [75211, 'CS125'],
 [75212, 'CS125'],
 [75213, 'CS125'],
 [75214, 'CS125'],
 [75215, 'CS125'],
 [75216, 'CS125'],
 [75217, 'CS125'],
 [75218, 'CS125'],
 [75219, 'CS125'],
 [75220, 'CS125'],
 [75221, 'CS125'],
 [75222, 'CS125'],
 [75223, 'CS125'],
 [75224, 'CS125'],
 [75225, 'CS125'],
 [75226, 'CS125'],
 [75227, 'CS125'],
 [75228, 'CS125'],
 [75229, 'CS125'],
 [75230, 'CS125'],
 [75231, 'CS125'],
 [75232, 'CS125'],
 [75233, 'CS125'],
 [75234, 'CS125'],
 [75235, 'CS125'],
 [75236, 'CS125'],
 [75237, 'CS125'],
 [75238, 'CS125'],
 [75239, 'CS125'],
 [75240, 'CS125'],
 [75241, 'CS125'],
 [75242, 'CS126'],
 [75243, 'CS126'],
 [75244, 'CS126'],
 [75245, 'CS126'],
 [75246, 'CS126'],
 [75247, 'CS126'],
 [75248, 'CS126'],
 [75249, 'CS126'],
 [75250, 'CS126'],
 [75251, 'CS126'],
 [75252, 'CS126'],
 [75253, 'CS126'],
 [75254, 'CS126'],
 [75255, 'CS126'],
 [75256, 'CS126'],
 [75257, 'CS126'],
 [75258, 'CS126'],
 [75259, 'CS126'],
 [75260, 'CS126'],
 [75261, 'CS126'],
 [75262, 'CS126'],
 [75263, 'CS126'],
 [75264, 'CS126'],
 [75265, 'CS126'],
 [75266, 'CS126'],
 [75267, 'CS126'],
 [75268, 'CS126'],
 [75269, 'CS126'],
 [75270, 'CS126'],
 [75271, 'CS126'],
 [75272, 'CS126'],
 [75273, 'CS126'],
 [75274, 'CS126'],
 [75275, 'CS126'],
 [75276, 'CS126'],
 [75277, 'CS126'],
 [75278, 'CS126'],
 [75279, 'CS126'],
 [75280, 'CS126'],
 [75281, 'CS126'],
 [75282, 'CS126'],
 [75283, 'CS126'],
 [75284, 'CS126'],
 [75285, 'CS126'],
 [75286, 'CS126'],
 [75287, 'CS126'],
 [75288, 'CS126'],
 [75289, 'CS126'],
 [75290, 'CS126'],
 [75291, 'CS126'],
 [75292, 'CS126'],
 [75293, 'CS126'],
 [75294, 'CS126'],
 [75295, 'CS126'],
 [75296, 'CS126'],
 [75297, 'CS126'],
 [75298, 'CS126'],
 [75299, 'CS126'],
 [75300, 'CS126'],
 [75301, 'CS126'],
 [75302, 'CS126'],
 [75303, 'CS126'],
 [75304, 'CS126'],
 [75305, 'CS173'],
 [75306, 'CS173'],
 [75307, 'CS173'],
 [75308, 'CS173'],
 [75309, 'CS173'],
 [75310, 'CS173'],
 [75311, 'CS173'],
 [75312, 'CS173'],
 [75313, 'CS173'],
 [75314, 'CS173'],
 [75315, 'CS173'],
 [75316, 'CS173'],
 [75317, 'CS173'],
 [75318, 'CS173'],
 [75319, 'CS173'],
 [75320, 'CS173'],
 [75321, 'CS173'],
 [75322, 'CS173'],
 [75323, 'CS173'],
 [75324, 'CS173'],
 [75325, 'CS173'],
 [75326, 'CS173'],
 [75327, 'CS173'],
 [75328, 'CS173'],
 [75329, 'CS173'],
 [75330, 'CS173'],
 [75331, 'CS173'],
 [75332, 'CS173'],
 [75333, 'CS173'],
 [75334, 'CS173'],
 [75335, 'CS173'],
 [75336, 'CS173'],
 [75337, 'CS173'],
 [75338, 'CS173'],
 [75339, 'CS173'],
 [75340, 'CS173'],
 [75341, 'CS173'],
 [75342, 'CS173'],
 [75343, 'CS173'],
 [75344, 'CS173'],
 [75345, 'CS173'],
 [75346, 'CS173'],
 [75347, 'CS173'],
 [75348, 'CS173'],
 [75349, 'CS173'],
 [75350, 'CS173'],
 [75351, 'CS173'],
 [75352, 'CS173'],
 [75353, 'CS173'],
 [75354, 'CS173'],
 [75355, 'CS173'],
 [75356, 'CS173'],
 [75357, 'CS173'],
 [75358, 'CS173'],
 [75359, 'CS173'],
 [75360, 'CS173'],
 [75361, 'CS173'],
 [75362, 'CS173'],
 [75363, 'CS173'],
 [75364, 'CS173'],
 [75365, 'CS173'],
 [75366, 'CS173'],
 [75367, 'CS173'],
 [75368, 'CS173'],
 [75369, 'CS173'],
 [75370, 'CS173'],
 [75371, 'CS173'],
 [75372, 'CS173'],
 [75373, 'CS173'],
 [75374, 'CS173'],
 [75375, 'CS173'],
 [75376, 'CS173'],
 [75377, 'CS173'],
 [75378, 'CS173'],
 [75379, 'CS173'],
 [75380, 'CS173'],
 [75381, 'CS173'],
 [75382, 'CS173'],
 [75383, 'CS173'],
 [75384, 'CS173'],
 [75385, 'CS173'],
 [75386, 'CS173'],
 [75387, 'CS173'],
 [75388, 'CS173'],
 [75389, 'CS173'],
 [75390, 'CS173'],
 [75391, 'CS173'],
 [75392, 'CS173'],
 [75393, 'CS173'],
 [75394, 'CS173'],
 [75395, 'CS173'],
 [75396, 'CS173'],
 [75397, 'CS173'],
 [75398, 'CS173'],
 [75399, 'CS173'],
 [75400, 'CS173'],
 [75401, 'CS173'],
 [75402, 'CS173'],
 [75403, 'CS173'],
 [75404, 'CS173'],
 [75405, 'CS173'],
 [75406, 'CS173'],
 [75407, 'CS173'],
 [75408, 'CS173'],
 [75409, 'CS173'],
 [75410, 'CS173'],
 [75411, 'CS173'],
 [75412, 'CS173'],
 [75413, 'CS173'],
 [75414, 'CS173'],
 [75415, 'CS173'],
 [75416, 'CS173'],
 [75417, 'CS173'],
 [75418, 'CS173'],
 [75419, 'CS173'],
 [75420, 'CS173'],
 [75421, 'CS173'],
 [75422, 'CS173'],
 [75423, 'CS173'],
 [75424, 'CS173'],
 [75425, 'CS173'],
 [75426, 'CS173'],
 [75427, 'CS173'],
 [75428, 'CS173'],
 [75429, 'CS173'],
 [75430, 'CS173'],
 [75431, 'CS173'],
 [75432, 'CS173'],
 [75433, 'CS173'],
 [75434, 'CS173'],
 [75435, 'CS173'],
 [75436, 'CS173'],
 [75437, 'CS173'],
 [75438, 'CS173'],
 [75439, 'CS173'],
 [75440, 'CS173'],
 [75441, 'CS173'],
 [75442, 'CS173'],
 [75443, 'CS173'],
 [75444, 'CS173'],
 [75445, 'CS173'],
 [75446, 'CS173'],
 [75447, 'CS173'],
 [75448, 'CS173'],
 [75449, 'CS173'],
 [75450, 'CS173'],
 [75451, 'CS173'],
 [75452, 'CS173'],
 [75453, 'CS173'],
 [75454, 'CS173'],
 [75455, 'CS173'],
 [75456, 'CS173'],
 [75457, 'CS173'],
 [75458, 'CS173'],
 [75459, 'CS173'],
 [75460, 'CS173'],
 [75461, 'CS173'],
 [75462, 'CS173'],
 [75463, 'CS173'],
 [75464, 'CS173'],
 [75465, 'CS173'],
 [75466, 'CS173'],
 [75467, 'CS173'],
 [75468, 'CS173'],
 [75469, 'CS173'],
 [75470, 'CS173'],
 [75471, 'CS173'],
 [75472, 'CS173'],
 [75473, 'CS173'],
 [75474, 'CS173'],
 [75475, 'CS173'],
 [75476, 'CS173'],
 [75477, 'CS173'],
 [75478, 'CS173'],
 [75479, 'CS173'],
 [75480, 'CS173'],
 [75481, 'CS173'],
 [75482, 'CS173'],
 [75483, 'CS173'],
 [75484, 'CS173'],
 [75485, 'CS173'],
 [75486, 'CS173'],
 [75487, 'CS173'],
 [75488, 'CS173'],
 [75489, 'CS173'],
 [75490, 'CS173'],
 [75491, 'CS173'],
 [75492, 'CS173'],
 [75493, 'CS173'],
 [75494, 'CS173'],
 [75495, 'CS173'],
 [75496, 'CS173'],
 [75497, 'CS173'],
 [75498, 'CS173'],
 [75499, 'CS173'],
 [75500, 'CS173'],
 [75501, 'CS173'],
 [75502, 'CS173'],
 [75503, 'CS173'],
 [75504, 'CS173'],
 [75505, 'CS173'],
 [75506, 'CS173'],
 [75507, 'CS173'],
 [75508, 'CS173'],
 [75509, 'CS173'],
 [75510, 'CS173'],
 [75511, 'CS173'],
 [75512, 'CS173'],
 [75513, 'CS173'],
 [75514, 'CS173'],
 [75515, 'CS173'],
 [75516, 'CS173'],
 [75517, 'CS173'],
 [75518, 'CS173'],
 [75519, 'CS173'],
 [75520, 'CS173'],
 [75521, 'CS173'],
 [75522, 'CS173'],
 [75523, 'CS173'],
 [75524, 'CS173'],
 [75525, 'CS173'],
 [75526, 'CS173'],
 [75527, 'CS173'],
 [75528, 'CS173'],
 [75529, 'CS173'],
 [75530, 'CS173'],
 [75531, 'CS173'],
 [75532, 'CS173'],
 [75533, 'CS173'],
 [75534, 'CS173'],
 [75535, 'CS173'],
 [75536, 'CS173'],
 ...]

In [57]:
ReviewId=[]
AssessmentId=[]
Workload=[]
Difficulty=[]
Rating=[]
TextReviews=[]
for reviewId in reviewid_crn:
    assessments_id=crn_cs_assess[crn_cs_assess['CRN']==reviewId[1]]['AssessmentId'].tolist()
    for i in range(len(assessments_id)):
        ReviewId.append(reviewId[0])
    for ass_id in assessments_id:
        AssessmentId.append(ass_id)
        Workload.append(random.randint(1,5))
        Difficulty.append(random.randint(1,5))
        r=random.choice(text_review)
        TextReviews.append(r[0])
        Rating.append(r[1])

In [61]:
sub_review_dict={'ReviewId':ReviewId,'AssessmentId':AssessmentId,'Workload':Workload,'Difficulty':Difficulty,'Rating':Rating,'Text Reviews':TextReviews}

In [93]:
Sub_Reviews=pd.DataFrame(sub_review_dict)

In [107]:
assess[assess['CRN']=='CS411']

,AssessmentId,CRN,Name,Type,Total Time,Max Score,No of Questions,Technologies
14196,14196,CS411,MP 1,MP,7 days,100,3.0,C++
14197,14197,CS411,MP 2,MP,8 days,100,5.0,Java
14198,14198,CS411,Exam 1,Exam,2 hour,100,4.0,C++
14199,14199,CS411,Exam 2,Exam,2 hour,100,6.0,C++
14200,14200,CS411,GA 1,GA,7 days,20,2.0,C++
14201,14201,CS411,GA 2,GA,10 days,20,3.0,C++
14202,14202,CS411,Project 1,Project,Semester Long,100,NaN,Your Choice
14203,14203,CS411,Critique 1,Critique,30 days,100,NaN,NaN
14204,14204,CS411,Critique 2,Critique,30 days,100,NaN,NaN
14205,14205,CS411,Critique 3,Critique,30 days,100,NaN,NaN

In [95]:
cs411_reviewId=reviews[reviews['CRN']=='CS411']['ReviewId'].tolist()

In [96]:
len(cs411_reviewId)

262

In [97]:
Sub_Reviews['ReviewId'].astype('str')

0        74537
1        74537
2        74537
3        74537
4        74537
         ...
66305    82110
66306    82110
66307    82110
66308    82110
66309    82110
Name: ReviewId, Length: 66310, dtype: object

In [108]:
Sub_Reviews[Sub_Reviews['ReviewId']==77248]

,ReviewId,AssessmentId,Workload,Difficulty,Rating,Text Reviews
21712,77248,14196,3,2,5,"If you are in love with history, western civil..."
21713,77248,14197,2,3,5,This is an excellent way to improve one's lear...
21714,77248,14198,5,3,5,Awesome course! Rich information to help me un...
21715,77248,14199,3,3,5,Really great advice on writing character. I ha...
21716,77248,14200,2,4,5,I would like to state state that this is a cou...
21717,77248,14201,2,2,4,"Solid class, enjoyable and well suited for beg..."
21718,77248,14202,4,3,5,First contact with GNU Octave (not with progra...
21719,77248,14203,3,2,5,Great program
21720,77248,14204,2,5,5,I firmly beleive that this course is not give ...
21721,77248,14205,4,4,5,Great crash course! Wide variety of informatio...

In [131]:
Sub_Reviews[Sub_Reviews['ReviewId']==77248]['Text Reviews'].replace(to_replace=Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[0,-1],value='A well desinged MP that aptly tests your basic understanding of SQL while being moderately lengthy',inplace=True)
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[1,-1]='Great MP yet again which requires good knowldege in MongoDB, felt like a pro in MongoDB after this MP'
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[2,-1]='A Well designed exam that tests your basic of SQL and MongoDB, although a little more time to solve may have made this better'
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[3,-1]='Well structured exam on Conceptual Database Design and Query Optimization'
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[4,-1]='Good Group Activity that lets your truly collaborate as you would in an org'
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[5,-1]='This GA was a litte too easy but liked it nonetheless'
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[6,-1]='Semester Long project that also requires you to build a web app which can be a learning experience for many undergrads'
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[7,-1]='Paper Critique'
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[8,-1]='Paper Critique'
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[9,-1]='Paper Critique'

C:\Users\satvi\AppData\Local\Temp\ipykernel_45048\2777815548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Sub_Reviews[Sub_Reviews['ReviewId']==77248]['Text Reviews'].replace(to_replace=Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[0,-1],value='A well desinged MP that aptly tests your basic understanding of SQL while being moderately lengthy',inplace=True)

In [133]:
Sub_Reviews[Sub_Reviews['ReviewId']==77248]

,ReviewId,AssessmentId,Workload,Difficulty,Rating,Text Reviews
21712,77248,14196,3,2,5,"If you are in love with history, western civil..."
21713,77248,14197,2,3,5,This is an excellent way to improve one's lear...
21714,77248,14198,5,3,5,Awesome course! Rich information to help me un...
21715,77248,14199,3,3,5,Really great advice on writing character. I ha...
21716,77248,14200,2,4,5,I would like to state state that this is a cou...
21717,77248,14201,2,2,4,"Solid class, enjoyable and well suited for beg..."
21718,77248,14202,4,3,5,First contact with GNU Octave (not with progra...
21719,77248,14203,3,2,5,Great program
21720,77248,14204,2,5,5,I firmly beleive that this course is not give ...
21721,77248,14205,4,4,5,Great crash course! Wide variety of informatio...

In [134]:
Sub_Reviews.dtypes

ReviewId         int64
AssessmentId     int64
Workload         int64
Difficulty       int64
Rating           int64
Text Reviews    object
dtype: object

In [135]:
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[0,-1]

'If you are in love with history, western civilizations, the Middle East and everything related to the Roman Mare Nostrum, you will not regret taking this MOOC. Those professors, lecturers and scholars in charge of the course will not let you down.'

In [136]:
Sub_Reviews[Sub_Reviews['ReviewId']==77248].iloc[0,-1]

'If you are in love with history, western civilizations, the Middle East and everything related to the Roman Mare Nostrum, you will not regret taking this MOOC. Those professors, lecturers and scholars in charge of the course will not let you down.'

In [137]:
Sub_Reviews

,ReviewId,AssessmentId,Workload,Difficulty,Rating,Text Reviews
0,74537,14006,2,5,5,"I absolutely love this course. It's complete, ..."
1,74537,14007,5,2,5,Excellent information presented in an efficien...
2,74537,14008,2,2,5,"This was a great module. Loved it, learned a lot."
3,74537,14009,5,3,5,Excellent overview of finance basics with refe...
4,74537,14010,3,3,4,some of the content and videos were too wordy ...
...,...,...,...,...,...,...
66305,82110,15045,3,3,5,Overall I thought the level of the course was ...
66306,82110,15046,1,3,5,great course. highly organized and well presen...
66307,82110,15047,3,3,5,World class teaching. Making medical students'...
66308,82110,15048,5,3,3,JS should be more indepth.
66309,82110,15049,5,5,5,Awesome :) Very interactive

In [138]:
Sub_Reviews.to_csv('SubReviews.csv')

In [148]:
Sub_Reviews=pd.read_csv("SubReviews.csv",index_col=0)

In [153]:
Sub_Reviews.reset_index(inplace=True)
Sub_Reviews

,level_0,index,ReviewId,AssessmentId,Workload,Difficulty,Rating,Text Reviews
0,0,0,74537,14006,2,5,5,"I absolutely love this course. It's complete, ..."
1,1,1,74537,14007,5,2,5,Excellent information presented in an efficien...
2,2,2,74537,14008,2,2,5,"This was a great module. Loved it, learned a lot."
3,3,3,74537,14009,5,3,5,Excellent overview of finance basics with refe...
4,4,4,74537,14010,3,3,4,some of the content and videos were too wordy ...
...,...,...,...,...,...,...,...,...
66305,66305,66305,82110,15045,3,3,5,Overall I thought the level of the course was ...
66306,66306,66306,82110,15046,1,3,5,great course. highly organized and well presen...
66307,66307,66307,82110,15047,3,3,5,World class teaching. Making medical students'...
66308,66308,66308,82110,15048,5,3,3,JS should be more indepth.
66309,66309,66309,82110,15049,5,5,5,Awesome :) Very interactive

In [155]:
Sub_Reviews.rename(columns={'index':'SubReviewId'},inplace=True)

In [157]:
Sub_Reviews.drop(columns=['level_0'],inplace=True)

In [159]:
Sub_Reviews.to_csv('Sub_Reviews.csv',index=False)

In [177]:
updated_tech=assess[assess['CRN']=='CS411']['Technologies'].replace(to_replace='C++',value='SQL')

In [192]:
tech=assess.loc[assess['CRN']=='CS411']['Technologies'].tolist()

In [191]:
assess[assess['CRN']=='CS411']

,AssessmentId,CRN,Name,Type,Total Time,Max Score,No of Questions,Technologies
14196,14196,CS411,MP 1,MP,7 days,100,3.0,C++
14197,14197,CS411,MP 2,MP,8 days,100,5.0,Java
14198,14198,CS411,Exam 1,Exam,2 hour,100,4.0,C++
14199,14199,CS411,Exam 2,Exam,2 hour,100,6.0,C++
14200,14200,CS411,GA 1,GA,7 days,20,2.0,C++
14201,14201,CS411,GA 2,GA,10 days,20,3.0,C++
14202,14202,CS411,Project 1,Project,Semester Long,100,NaN,Your Choice
14203,14203,CS411,Critique 1,Critique,30 days,100,NaN,NaN
14204,14204,CS411,Critique 2,Critique,30 days,100,NaN,NaN
14205,14205,CS411,Critique 3,Critique,30 days,100,NaN,NaN

In [195]:
l = list(map(lambda x: x.replace('C++', 'SQL'), tech))

AttributeError: 'float' object has no attribute 'replace'

In [197]:
tech[0]='SQL'
tech[1]='MongoDB'
tech[2]='SQL'
tech[3]='SQL'
tech[4]='SQL'
tech[5]='SQL'

In [198]:
tech

['SQL', 'MongoDB', 'SQL', 'SQL', 'SQL', 'SQL', 'Your Choice', nan, nan, nan]

In [201]:
cs411=assess[assess['CRN']=='CS411'].iloc[:,:7].values.tolist()

In [202]:
cs411

[[14196, 'CS411', 'MP 1', 'MP', '7 days', 100, 3.0],
 [14197, 'CS411', 'MP 2', 'MP', '8 days', 100, 5.0],
 [14198, 'CS411', 'Exam 1', 'Exam', '2 hour', 100, 4.0],
 [14199, 'CS411', 'Exam 2', 'Exam', '2 hour', 100, 6.0],
 [14200, 'CS411', 'GA 1', 'GA', '7 days', 20, 2.0],
 [14201, 'CS411', 'GA 2', 'GA', '10 days', 20, 3.0],
 [14202, 'CS411', 'Project 1', 'Project', 'Semester Long', 100, nan],
 [14203, 'CS411', 'Critique 1', 'Critique', '30 days', 100, nan],
 [14204, 'CS411', 'Critique 2', 'Critique', '30 days', 100, nan],
 [14205, 'CS411', 'Critique 3', 'Critique', '30 days', 100, nan]]

In [2]:
df=pd.read_csv('Sub_Reviews.csv')

In [3]:
df.iloc[11710]

SubReviewId      11710
ReviewId         76078
AssessmentId     14088
Workload             4
Difficulty           3
Rating               4
Text Reviews    Great\
Name: 11710, dtype: object

In [ ]:
df.drop()