In [54]:
import pandas as pd
import re
import numpy

In [4]:
reviews=pd.read_csv("Reviews.csv")

In [5]:
from tqdm import tqdm

In [7]:
import pandas as pd
from langdetect import detect
import random
import faker
import time
from numpy.random import choice
import numpy as np
import re
from collections import Counter

In [8]:
students=pd.read_csv("Students.csv")

In [9]:
reviews

,ReviewId,NetId,CRN,WorkLoad,Difficulty,Rating,TextReview,Date,Term
0,0,JeromeBl17,AAS100,4,3,4,"I liked your course. It is very thorough, but ...",26 November 2010,Fall-2010
1,1,BrianRu64,AAS100,4,2,5,Brilliant work you got there.....................,15 September 2010,Fall-2010
2,2,ErinMa15,AAS100,2,4,5,A lot of concepts helpful for learning,09 January 2011,Fall-2010
3,3,VictoriaJe48,AAS100,3,3,5,It's enough for the beginner. A good guide,22 September 2010,Fall-2010
4,4,TylerPr19,AAS100,3,2,5,"In debth enough to go through concepts slowly,...",07 November 2010,Fall-2010
...,...,...,...,...,...,...,...,...,...
230766,230766,JenniferEa24,YDSH320,3,5,4,"Nice, interesting course. I went through it wi...",20 September 2020,Fall-2020
230767,230767,NancyCl54,YDSH320,3,2,4,This is a good and effective course for managi...,12 September 2020,Fall-2020
230768,230768,MeganMc67,YDSH320,2,4,5,of Great help,01 September 2020,Fall-2020
230769,230769,SarahTr46,YDSH320,3,2,5,The teacher makes the classes simple to unders...,24 September 2020,Fall-2020
230770,230770,MakaylaRa50,YDSH320,4,1,5,Amazing learning experience,12 January 2021,Fall-2020

In [10]:
courses=pd.read_csv('Courses.csv')

In [59]:
assessment_name=[]
types=[]
crn_assess=[]
max_score=[]
no_of_ques=[]
technologies=[]
techs=['Python','Java','SQL','C++','JavaScript']
assessment_type=['MP','Exam','GA','Project','Critique']
assessment_type_noncs=['HW','Exam','Project']
total_time=[]
exam_time=['1 hour','2 hour','3 hour']
for crn in tqdm(course):
    tech_cs=[random.choice(techs),random.choice(techs)]
    if re.findall('([a-zA-Z ]*)\d*.*', crn)[0]=='CS':
        for ass_type in assessment_type:
            if ass_type=='MP':
                mp=random.randint(1,4)
                for i in range(mp):
                    assessment_name.append('MP'+' '+str(i+1))
                    types.append('MP')
                    crn_assess.append(crn)
                    max_score.append(100)
                    no_of_ques.append(random.randint(3,6))
                    technologies.append(random.choice(tech_cs))      
                    total_time.append(str(random.randint(7,14))+' days')
            elif ass_type=='Exam':
                exam=random.randint(1,3)
                for i in range(exam):
                    assessment_name.append('Exam'+' '+str(i+1))
                    types.append('Exam')
                    crn_assess.append(crn)
                    max_score.append(100)
                    no_of_ques.append(random.randint(4,6))
                    technologies.append(random.choice(tech_cs))
                    total_time.append(random.choice(exam_time))
            elif ass_type=='GA':
                ga=random.randint(1,5)
                for i in range(exam):
                    assessment_name.append('GA'+' '+str(i+1))
                    types.append('GA')
                    crn_assess.append(crn)
                    max_score.append(20)
                    no_of_ques.append(random.randint(2,3))
                    technologies.append(random.choice(tech_cs))
                    total_time.append(str(random.randint(7,10))+' days')
            elif ass_type=='Project':
                project=random.randint(0,1)
                for i in range(project):
                    assessment_name.append('Project'+' '+str(i+1))
                    types.append('Project')
                    crn_assess.append(crn)
                    max_score.append(100)
                    no_of_ques.append(np.nan)
                    technologies.append('Your Choice')
                    total_time.append('Semester Long')
            elif ass_type=='Critique':
                critique=random.randint(1,3)
                for i in range(critique):
                    assessment_name.append('Critique'+' '+str(i+1))
                    types.append('Critique')
                    crn_assess.append(crn)
                    max_score.append(100)
                    no_of_ques.append(np.nan)
                    technologies.append(np.nan)
                    total_time.append('30 days')
    else:
        for ass_type in assessment_type_noncs:
            if ass_type=='HW':
                hw=random.randint(1,6)
                for i in range(hw):
                    assessment_name.append('HW'+' '+str(i+1))
                    types.append('HW')
                    crn_assess.append(crn)
                    max_score.append(100)
                    no_of_ques.append(random.randint(4,7))
                    technologies.append(np.nan)
                    total_time.append(str(random.randint(7,14))+' days')
            elif ass_type=='Exam':
                exam=random.randint(1,3)
                for i in range(exam):
                    assessment_name.append('Exam'+' '+str(i+1))
                    types.append('Exam')
                    crn_assess.append(crn)
                    max_score.append(100)
                    no_of_ques.append(random.randint(3,6))
                    technologies.append(np.nan)
                    total_time.append(random.choice(exam_time))
            elif ass_type=='Project':
                project=random.randint(0,1)
                for i in range(project):
                    assessment_name.append('Project'+' '+str(i+1))
                    types.append('Project')
                    crn_assess.append(crn)
                    max_score.append(100)
                    no_of_ques.append(np.nan)
                    technologies.append(np.nan)
                    total_time.append('Semester Long')

100%|███████████████████████████████████████████████████████████████████████████| 8589/8589 [00:00<00:00, 32295.09it/s]

In [66]:
len(exam_time)

3

In [62]:
len(types)

52195

In [63]:
len(crn_assess)

52195

In [65]:
len(total_time)

52195

In [67]:
assessments_dict={'CRN':crn_assess,'Name':assessment_name,'Type':types,'Total Time':total_time,'Max Score':max_score,'No of Questions':no_of_ques,'Technologies':technologies}

In [68]:
assessments=pd.DataFrame(assessments_dict)

In [70]:
assessments[assessments['CRN']=='CS446']

,CRN,Name,Type,Total Time,Max Score,No of Questions,Technologies
14409,CS446,MP 1,MP,12 days,100,5.0,JavaScript
14410,CS446,MP 2,MP,10 days,100,4.0,JavaScript
14411,CS446,Exam 1,Exam,3 hour,100,5.0,SQL
14412,CS446,Exam 2,Exam,1 hour,100,6.0,JavaScript
14413,CS446,Exam 3,Exam,1 hour,100,6.0,SQL
14414,CS446,GA 1,GA,10 days,20,2.0,JavaScript
14415,CS446,GA 2,GA,8 days,20,3.0,JavaScript
14416,CS446,GA 3,GA,9 days,20,3.0,SQL
14417,CS446,Project 1,Project,Semester Long,100,NaN,Your Choice
14418,CS446,Critique 1,Critique,30 days,100,NaN,NaN
14419,CS446,Critique 2,Critique,30 days,100,NaN,NaN
14420,CS446,Critique 3,Critique,30 days,100,NaN,NaN

In [53]:
assessments[assessments['CRN']=='AAS100']

     Name  Type     CRN
0    HW 1    HW  AAS100
1  Exam 1  Exam  AAS100

In [72]:
assessments.reset_index(inplace=True)

In [76]:
assessments.rename(columns={'index':'AssessmentId'},inplace=True)

In [77]:
assessments.to_csv('Assessments.csv',index=False)