In [59]:
import pandas as pd
import re
from collections import Counter
import random

In [2]:
department=pd.read_csv("Department.csv")

In [12]:
instructors=pd.read_csv("Instructors.csv",index_col=0)

In [5]:
courses=pd.read_csv("Courses.csv")

In [9]:
cs=pd.read_csv("CourseSchedule.csv",index_col=0)

In [14]:
cs

           CRN     YearTerm  instructor_id
0       AAS100    Fall-2010              5
1       AAS100  Spring-2010              3
2       AAS100  Summer-2010              1
3       AAS100    Fall-2011             10
4       AAS100  Spring-2011             11
...        ...          ...            ...
30677  YDSH320  Spring-2013           3064
30678  YDSH320    Fall-2015           4025
30679  YDSH320    Fall-2016           3049
30680  YDSH320    Fall-2017           3049
30681  YDSH320    Fall-2020           3075

[30682 rows x 3 columns]

In [25]:
instructors

        ID      Instructor_name
0        1         Kwon, Soo Ah
1        2        Kwon, Yaejoon
2        3     Pyon, Heekyong T
3        4     Lee, Alexander J
4        5  Arnaldo, Constancio
...    ...                  ...
8678  8679     Graves, Thomas K
8679  8680        Selmic, Laura
8680  8681    Aldridge, Brian M
8681  8682       Fan, Timothy M
8682  8683  Ballantyne, Kelly C

[8683 rows x 2 columns]

In [76]:
dpt_instructors=[]
for i in range(len(instructors)):
    crn=cs[cs['instructor_id']==instructors.iloc[i][0]]['CRN'].values.tolist()
    c=[]
    for j in crn:
        res = re.findall('([a-zA-Z ]*)\d*.*', j)
        c.append(res[0])
    c=Counter(c)
    try:
        dpt_instructors.append(c.most_common(1)[0][0])
    except:
        dpt_instructors.append(random.choice(depts))

In [77]:
dpt_instructors

['AAS',
 'SOC',
 'AAS',
 'ANTH',
 'AAS',
 'ANTH',
 'HIST',
 'SHS',
 'SLCL',
 'AAS',
 'AAS',
 'VCM',
 'AAS',
 'AAS',
 'AAS',
 'HIST',
 'AAS',
 'AAS',
 'PSYC',
 'MBA',
 'ACCY',
 'AAS',
 'HDFS',
 'AAS',
 'AAS',
 'AAS',
 'HIST',
 'PS',
 'AAS',
 'KIN',
 'MDIA',
 'MUS',
 'BCOG',
 'MSP',
 'AAS',
 'ARAB',
 'AAS',
 'LAT',
 'AAS',
 'AAS',
 'AAS',
 'AAS',
 'AAS',
 'AAS',
 'AAS',
 'GWS',
 'LLS',
 'AAS',
 'AAS',
 'GWS',
 'EALC',
 'ABE',
 'TSM',
 'TSM',
 'ABE',
 'ABE',
 'TSM',
 'ABE',
 'ABE',
 'TSM',
 'ABE',
 'ABE',
 'ABE',
 'TSM',
 'ABE',
 'ABE',
 'TSM',
 'ABE',
 'TSM',
 'ABE',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'REHB',
 'ALEC',
 'MDIA',
 'WRIT',
 'NEUR',
 'ACCY',
 'ARTJ',
 'ACCY',
 'SPED',
 'ACCY',
 'LAT',
 'CATL',
 'PBIO',
 'ENT',
 'KOR',
 'ASST',
 'ACCY',
 'GMC',
 'AGED',
 'ACCY',
 'ECE',
 'SE',
 'LCTL',
 'AFAS',
 'MATH',
 'SOC',
 'ACCY',
 'ACCY',
 'ACCY',
 'SLS',
 'ACCY',
 'CW',
 'CHIN',
 'ACCY',
 'GCL',
 'ACCY',
 'MSE',
 'JOUR',
 'GRKM',
 'ACCY',
 'BASQ',
 'ACCY',
 'MDVL',
 'LA',
 'ASTR',
 'ASST',
 'CPSC',
 'ANTH',
 'FAA',
 'CI',
 'FSHN',
 'JAPN',
 'ACCY',
 'PLPA',
 'ACCY',
 'AGED',
 'JAPN',
 'ACCY',
 'BCS',
 'GEOL',
 'TSM',
 'GRK',
 'ACCY',
 'BCS',
 'MATH',
 'ARTH',
 'ACCY',
 'ENGH',
 'ACCY',
 'AIS',
 'HUM',
 'ACCY',
 'ACCY',
 'ARTF',
 'ITAL',
 'SOCW',
 'ACCY',
 'RHET',
 'ACCY',
 'NS',
 'PLPA',
 'RST',
 'LING',
 'FSHN',
 'ENVS',
 'ACCY',
 'ACCY',
 'LEAD',
 'CPSC',
 'ACCY',
 'ARTF',
 'ARTH',
 'GER',
 'TSM',
 'ACCY',
 'PS',
 'FAA',
 'ACCY',
 'TAM',
 'THEA',
 'ACCY',
 'ACCY',
 'BTW',
 'POL',
 'UKR',
 'ACCY',
 'MFST',
 'IE',
 'RSOC',
 'ACCY',
 'TRST',
 'INFO',
 'ACCY',
 'ACCY',
 'ACCY',
 'EPOL',
 'ARTD',
 'MUSC',
 'CEE',
 'TMGT',
 'MSE',
 'ACCY',
 'ACCY',
 'ACCY',
 'BIOL',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'AFAS',
 'ACCY',
 'ACCY',
 'ACCY',
 'ARAB',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'AFAS',
 'ACCY',
 'ASRM',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'AFST',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'FR',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'PHIL',
 'ACCY',
 'GMC',
 'ACCY',
 'ACCY',
 'ACCY',
 'ATMS',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'DANC',
 'ACES',
 'ACCY',
 'ECE',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'CI',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'MIP',
 'ACCY',
 'ACCY',
 'SOC',
 'ACCY',
 'NS',
 'ACCY',
 'BULG',
 'GEOL',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'YDSH',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'ECON',
 'ACCY',
 'ACCY',
 'ACCY',
 'ACCY',
 'LAW',
 'HEBR',
 'ACCY',
 'ACCY',
 'BADM',
 'TE',
 'ACE',
 'STAT',
 'NRES',
 'ACE',
 'ACE',
 'SLS',
 'ACE',
 'ENGH',
 'BCOG',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'REL',
 'ACE',
 'CDB',
 'IB',
 'HUM',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'FIN',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'CLE',
 'ACE',
 'ASST',
 'ACE',
 'ECON',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'VB',
 'ACE',
 'GLBL',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'CHBE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'LCTL',
 'ACE',
 'FIN',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACE',
 'ACES',
 'MIP',
 'SLAV',
 'UP',
 'ACES',
 'EIL',
 'ARAB',
 'ADV',
 'PORT',
 'ACES',
 'ACES',
 'IHLT',
 'ARTD',
 'BASQ',
 'UP',
 'NS',
 'STAT',
 'HDFS',
 'ANSC',
 'ABE',
 'NRES',
 'HDFS',
 'ASST',
 'NRES',
 'ANSC',
 'ACES',
 'ANSC',
 'CPSC',
 'HEBR',
 'ANSC',
 'CW',
 'BTW',
 'BADM',
 'ACES',
 'BIOC',
 'ENGH',
 'FSHN',
 'ME',
 'FSHN',
 'SOCW',
 'NRES',
 'ACES',
 'ACES',
 'AGED',
 'FSHN',
 'TSM',
 'REL',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'SNSK',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'JOUR',
 'ADV',
 'MS',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'AGCM',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'KOR',
 'BULG',
 'REL',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'ADV',
 'BADM',
 'ADV',
 'ADV',
 'MATH',
 'EALC',
 'EPS',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'TMGT',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'DTX',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'ME',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'TAM',
 'AE',
 'AE',
 'AE',
 'AE',
 'ME',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'AE',
 'ECE',
 'AE',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'GWS',
 'AFRO',
 'AFRO',
 'ENGL',
 'AFRO',
 'ENGL',
 'AFRO',
 'AFRO',
 'KIN',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'AFRO',
 'HIST',
 'AFRO',
 'GWS',
 'HIST',
 'AFRO',
 'AFRO',
 'EPSY',
 'AFRO',
 'AFST',
 'AFST',
 'AGCM',
 'AGCM',
 'AGCM',
 'AGCM',
 'AGCM',
 'AGCM',
 'AGCM',
 'AGCM',
 'MACS',
 'AGED',
 'AGED',
 'AGED',
 'AGED',
 'AGED',
 'AGED',
 'AGED',
 'STAT',
 'FR',
 'AGED',
 'SCAN',
 'AGED',
 'AGED',
 'AGED',
 'AGED',
 'SE',
 'AGED',
 'AGED',
 'AGED',
 'MS',
 'AGED',
 'AGED',
 'KIN',
 'CHLH',
 'RST',
 'AHS',
 'IHLT',
 'AHS',
 'AHS',
 'AHS',
 'KIN',
 'AHS',
 'AHS',
 'AHS',
 'AIS',
 'LEAD',
 'AIS',
 'ENGL',
 'ECE',
 'AIS',
 'ENGL',
 'POL',
 'AIS',
 'CI',
 'GWS',
 'AIS',
 'MILS',
 'AIS',
 'BASQ',
 'AIS',
 'TMGT',
 'AIS',
 'EDUC',
 'AIS',
 'LAT',
 'AIS',
 'HIST',
 'AIS',
 'AIS',
 'AIS',
 'ABE',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'GSD',
 'MACS',
 'ANSC',
 'CS',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'CAS',
 'MCB',
 'ANSC',
 'MDIA',
 'ANSC',
 'CZCH',
 'VCM',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'WGGP',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANSC',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ACES',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'SAME',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'LING',
 'ANTH',
 'ANTH',
 'ARTF',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'IE',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'BTW',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'LA',
 'ANTH',
 'BCS',
 'ANTH',
 'ANTH',
 'BASQ',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'ANTH',
 'HIST',
 'ANTH',
 'TSM',
 'ANTH',
 'MUSE',
 'ANTH',
 'ARAB',
 'ARAB',
 'ARAB',
 'ARAB',
 'ARAB',
 'ARAB',
 'IS',
 'ARAB',
 'ARAB',
 'ARAB',
 'LING',
 'ARAB',
 'ARAB',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ACCY',
 'NUTR',
 'LA',
 'RSOC',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ART',
 'ARCH',
 'ARCH',
 'ATMS',
 'ARCH',
 'ARCH',
 'CEE',
 'ARCH',
 'SPAN',
 'ASST',
 'CINE',
 'ARTS',
 'FAA',
 'CAS',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ARCH',
 'ART',
 'ARCH',
 'ARCH',
 'ARCH',
 'RSOC',
 'ARCH',
 ...]

In [57]:
depts=department.DepartmentId.values.tolist()

In [78]:
instructors['DepartmentId']=dpt_instructors

In [82]:
instructors[instructors['ID']==2931]

        ID        Instructor_name DepartmentId
2930  2931  Alawini, Abdussalam A           CS

In [37]:
crn=cs[cs['instructor_id']==instructors]['CRN'].values.tolist()
c=[]
for j in crn:
    res = re.findall('([a-zA-Z ]*)\d*.*', j)
    c.append(res[0])
c=Counter(c)
try:
    dpt_instructors.append(c.most_common(1)[0][0])
except:
    dpt_instructors.append(random.choice(depts))

In [51]:
cs[cs['instructor_id']==instructors.iloc[0][0]]['CRN']

2     AAS100
7     AAS100
8     AAS100
49    AAS215
52    AAS246
53    AAS246
54    AAS246
55    AAS246
56    AAS246
57    AAS246
Name: CRN, dtype: object

In [44]:
cs.dtypes

CRN              object
YearTerm         object
instructor_id     int64
dtype: object

In [55]:
dpt_instructors

['AAS', 'SOC', 'AAS', 'ANTH', 'AAS', 'ANTH', 'HIST']

In [85]:
instructors.to_csv('Instructors.csv',index=False)

In [88]:
instructors

        ID      Instructor_name DepartmentId
0        1         Kwon, Soo Ah          AAS
1        2        Kwon, Yaejoon          SOC
2        3     Pyon, Heekyong T          AAS
3        4     Lee, Alexander J         ANTH
4        5  Arnaldo, Constancio          AAS
...    ...                  ...          ...
8678  8679     Graves, Thomas K           VM
8679  8680        Selmic, Laura           VM
8680  8681    Aldridge, Brian M           VM
8681  8682       Fan, Timothy M           VM
8682  8683  Ballantyne, Kelly C           VM

[8683 rows x 3 columns]